@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,100,500,700);
$font-stack: 'Roboto', sans-serif;

body {
  background: rgba(255,255,255,1);
  font-family: $font-stack;
}

/* utility classes */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* nav styles */
nav#masthead {
  border: none;
  border-radius: 0;
  height: 75px;

  .navbar-header {
    border-right: 1px solid #666;
    margin-top: 20px;
    padding: 0 50px;
    transition: all 0.5s ease;
    a {
      img {
        max-width: 163px;
      }
    }
  }
  
  .navbar-collapse {
    padding: 0;
  }
  
  .navbar-nav {
    margin-top: 13px;
  }
  
  #primary-nav.navbar-nav {
    margin-left: 50px;
    
    li>a {
      font-size: 13px;
      text-transform:  uppercase;
    }
  }
  
  #util-nav.navbar-nav.navbar-right {
    margin-right: 0;
    
    li>a {
      font-size: 11px;
    }
  }
  
}

@media (max-width: 768px) {
  nav#masthead {
    .navbar-header {
      padding: 0 15px;
    }
  }
}